# Este archivo .gitignore debe colocarse en la raíz del directorio de su proyecto de Unity
#
# Obtenga lo último de https://github.com/github/gitignore/blob/master/Unity.gitignore
#
[Ll] ibrary /
[Tt] emp /
[Oo] bj /
[Bb] uild /
[Bb] uilds /
[Ll] ogs /
[Uu] ser [Ss] ettings /

# MemoryCaptures puede tener un tamaño excesivo.
# También pueden contener datos extremadamente sensibles
/ [Mm] emoryCaptures /

# Los metadatos de activos solo deben ignorarse cuando el activo correspondiente también se ignora
! / [Aa] ssets / ** / *. Meta

# Descomente esta línea si desea ignorar el complemento de herramientas de la tienda de activos
# / [Aa] ssets / AssetStoreTools *

# Complemento Jetbrains Rider autogenerado
/ [Aa] ssets / Complementos / Editor / JetBrains *

# Directorio de caché de Visual Studio
.vs /

# Directorio de caché de Gradle
.gradle /

# Archivos de proyecto y solución VS / MD / Consulo autogenerados
ExportedObj /
.consulo /
* .csproj
* .unityproj
* .sln
* .suo
* .tmp
*.usuario
* .userprefs
* .pidb
* .booproj
* .svd
* .pdb
* .mdb
* .opendb
* .VC.db

# Archivos meta generados por Unity3D
* .pidb.meta
* .pdb.meta
* .mdb.meta

# Archivo generado por Unity3D en informes de fallos
sysinfo.txt

# Construye
* .apk
* .aab
* .unitypackage

# Archivo generado por Crashlytics
crashlytics-build.properties

# De direccionables empaquetados
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Activos de Android generados automáticamente de forma temporal
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/ [Aa] ssets / [Ss] treamingAssets / aa / *